@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    overflow: hidden;
    display:flex ;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}
.contact-container{
    display: flex;
    flex-direction: column;
    margin: 40px;
    margin-top: 100px;
    padding-left: 10px;
    padding-bottom: 120px;
    width: 60vw;
    padding-right: 30px;
    overflow-y: scroll;
    height: 100vh;
    h2{
        font-family: "Poppins",sans-serif;
        font-size: 26px;
        font-weight: 600;
        color:#053ED1;
        margin-bottom: 30px;
        span{
            font-weight: 400;
        }

    }
    &::-webkit-scrollbar{
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 4px;
        background-color: #053ED1;
        height: 10px;
    }
    &::-webkit-scrollbar-track{
        background-color: #F4F7FF;
    }
    div{
        display: flex;
        flex-direction: row;
        text-align: left;
        &.head-grid{
            font-family:'Poppins',sans-serif;
            justify-content: space-around;
            font-size:16px ;
            font-weight: 400;
            padding: 10px 0px 10px 0;
            color: #B0C6FF;
        }

        &.data-grid{
            margin-top: 10px;
            margin-bottom: 5px;
            background: #FFFFFF;
            box-shadow: 0px 2px 6px rgba(5, 62, 209, 0.14);
            border-radius: 8px;
            font-family: 'Poppins',sans-serif;
            font-size: 18px;
            cursor: pointer;
            
            &:hover{
                border: 1px solid #4EB4FF;
                div{
                    .checkbox{
                       visibility: visible;
                    }
                    .del-icon{
                        visibility: visible;
                    }
                }
                
            }
            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 35%;
                margin-left: 3%;
                margin-right: 7%;
                .checkbox{
                    margin-right: 5px;
                    visibility: hidden;
                }
                span{
                    height: 30px;
                    width: 30px;
                    border-radius: 100%;
                    align-self: center;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                    }
                }
                p{
                    margin-left: 4px;
                    padding-left: 8px;
                }
            }
            p{
                padding: 18px;
                font-weight: 400;
                &.email{
                    font-size: 15px;
                    font-weight: 400;
                    text-align: left;
                    width: 30%;
                    margin-right: 12%;
                }
            }
            .del-icon{
                font-size: 25px;
                color: #053ED1;
                visibility: hidden;
                cursor: pointer;
                margin-left: 15px;
            }
        }
    }
    @media (max-width:980px){
        width: 95vw;
    }
}
