html,* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login{
    background-color: #EFF7F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.login-comp{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    align-items: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(232,232,232,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(232,232,232,1);
    box-shadow: 10px 10px 5px 0px rgba(232,232,232,1);
}
@media (max-width:760px){
    .login-comp{
        width: 100%;
        height: 100%;
    }
}
.login-comp >h2{
    padding: 10px;
    font-size: 28px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0px;
    word-spacing: 2.5px;
    text-align: center;
}
.sign{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 200px;
    align-self: center;
    border-radius: 7px;
    justify-content: space-around;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 8px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 20px 8px rgba(232,232,232,1);
    box-shadow: 0px 0px 20px 8px rgba(232,232,232,1);
}
.sign>img{
    width: 35px;
    height: 35px;
    align-self: center;
}
.sign  > p{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    word-spacing: 1.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
}